<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand max-height" [routerLink]="'.'">
    <img src="../../assets/images/logo.png" alt="">
  </a>
  <h2>Honey Shop</h2>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end" id="navbarItems">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../home" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../about" (click)="isMenuCollapsed = true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../products" (click)="isMenuCollapsed = true">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../contact" (click)="isMenuCollapsed = true">Contact</a>
      </li>
      <li class ="dropdown" *ngIf='authenticationService.loggedIn()'><a>{{authenticationService.getUsername()}}</a>
        <ul>
          <li><a class="nav-link" routerLink="account/details">Manage Details</a></li>
        </ul>
      </li>
      <li *ngIf='authenticationService.loggedIn()' class="nav-item">
        <a class="nav-link" routerLink="/" (click)='onLogout()'>Log Out</a>
      </li>
      <li class="nav-item">
        <app-login-dropdown></app-login-dropdown>
      </li>
    </ul>
  </div>
</nav>
