$red: #F37272;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

#navbar {
  //background-color:  #FCE7A7!important;
  height: 12vh;
  z-index: 999;
}

#navbar h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

#navbar img {
  max-height: inherit;
}

#navbarItems ul li a {
  font-size: 32px;
  background: #515050;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  position: relative;
  text-transform: uppercase;
  text-decoration: none;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #F7D35B;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}


.max-height{
  margin-bottom: 20px;
  max-height: 125px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
}
ul li a{
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 10px;
}
ul li ul{
  background: transparent;
}
ul li ul li{
  float:none;
}
ul li ul{
  display: none
}

.dropdown{
  cursor: pointer;
}
ul li:hover ul{
  display: block;
}

@media only screen and (max-width: 800px){

}

.line{
  width: 800px;
  border-bottom: 1px solid black;
  position: absolute;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s steps(5, end) 10s both;
  animation: vibrate-1 0.3s steps(5, end) 10s both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.make-big{
  border-bottom: 1px solid black;
  height: 100%;
  margin: 0 125px;

  align-items: end;
}

.nav-top{
  margin-top: 50px;
}

