<nav id="navbar" class="navbar navbar-expand-lg navbar-light nav-top">
  <a class="navbar-brand max-height" [routerLink]="'.'">
    <img class="vibrate-1" src="../../assets/pictures/newLogo.png" alt="">
  </a>
  <h2>Honey Shop</h2>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end make-big" id="navbarItems">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link link-great" routerLink="../home" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-great" routerLink="../about" (click)="isMenuCollapsed = true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-great" routerLink="../products" (click)="isMenuCollapsed = true">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-great" routerLink="../contact" (click)="isMenuCollapsed = true">Contact</a>
      </li>
      <li class ="dropdown" *ngIf='jwt'><a>
          {{_auth.getUserEmail()}}
      </a>
         <ul>
           <li><a class="nav-link" routerLink="account/details">Manage Details</a></li>
           <a class="nav-link" routerLink="/" (click)='onLogout()'>Log Out</a>
         </ul>
       </li>
      <li class="nav-item" *ngIf='jwt'>
        <a class="nav-link link-great" routerLink="../cart" (click)="isMenuCollapsed = true">Cart</a>
      </li>
       <li class="nav-item">
         <app-login-dropdown></app-login-dropdown>
       </li>
     </ul>
   </div>
 </nav>
