<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="social">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est illum in labore maxime molestiae pariatur sapiente sed! Amet deleniti deserunt, ducimus illum incidunt iure modi nemo nulla pariatur ullam voluptatem.</p>
          </div>
          <ul>
            <li><a href=""><img src="../../assets/facebook.png" alt=""></a></li>
            <li><a href=""><img src="../../assets/gmail.png" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div id="quickLinks">
          <h5>Quick Links</h5>
          <ul>
            <li>
              <a routerLink="../home">Home</a>
            </li>
            <li>
              <a routerLink="../about">About</a>
            </li>
            <li>
              <a routerLink="../products">Products</a>
            </li>
            <li>
              <a routerLink="../contacts">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div id="contactUs">
          <h5>Contact us</h5>
          <ul>
            <li><img src="../../assets/home.png" alt=""><span>Address</span></li>
            <li><img src="../../assets/phone-call.png" alt="">Phone</li>
            <li><img src="../../assets/email.png" alt="">Email</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
