<footer class="footer-margin">
  <div class="container max-width">
    <div class="row">
      <div class="col">
        <div id="social">
          <div>
            <p>© PasBites 2021. All Rights Reserved</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="quickLinks">
          <h5>Quick Links</h5>
          <ul>
            <li>
              <a routerLink="../home">Home</a>
            </li>
            <li>
              <a routerLink="../about">About</a>
            </li>
            <li>
              <a routerLink="../products">Products</a>
            </li>
            <li>
              <a routerLink="../contact">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="contactUs">
          <ul class="social">
            <h5>Contact us</h5>
            <li class="slide-in-right1 spacing"><img src="../../assets/socials/phoneIcon.png" alt=""> +37063908107
            </li>
            <li class="slide-in-right2 spacing"><img src="../../assets/socials/gmailIcon.png" alt=""> pasbites@gmail.com
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="contactUs">
          <ul class="social">
            <h5>Social</h5>
            <li class="slide-in-right3 spacing"><a href="https://www.facebook.com/pasbites/" target="_blank"><img src="../../assets/socials/fbIcon.png" alt=""></a> Facebook
            </li>
            <li class="slide-in-right4 spacing"><a href="https://www.instagram.com/pasbites/" target="_blank"><img src="../../assets/socials/igIcon.png" alt=""></a> Instagram
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
