body {
  text-align: center;
}
form {
  display: inline-block;
}

.yellow{
  background-color: #F7D35B;
  border-color: #F7D35B;
}

.theme{
  margin-top: 25px;
}

form{
  margin-bottom: 25px;
}

h1{
  color: #F7D35B;
}
