<header style='text-align:center'><h1>Login</h1></header>
<body>
<div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Incorrect Details!</strong>
  <button (click)='closeAlert()' type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-4 py-3">
  <div class="form-group" >
    <label for="email">Email</label>
    <input type="email" email class="form-control" id="email" placeholder="Enter email" formControlName="email">
    <div class ="alert alert-danger" *ngIf="email.dirty && !email.valid">
      <div *ngIf='email.errors?.required'>Can't be empty!</div>
      <div *ngIf='email.errors?.email'>Email is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    <div class ="alert alert-danger" *ngIf="password.dirty && !password.valid">
      <div *ngIf='password.errors?.required'>Can't be empty!</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</body>
