.container{
  .orderButton{
    margin: 5em 1em 1em;
    background: #F7D35B;
    border-radius: 5em;
    font-weight: bold;
  }
  width: 100%;
  padding: 1em ;
  text-align: center;
  .billing{
  }
  .accordion-item{
    text-align: left;
  }
}

ul{
  position:relative;
  width: 450px;
  box-sizing: border-box;
}
ul li{
  display: flex;
  background: #fce7a7;
  font-weight: bold;
  padding:10px 20px;
  color:black;
  transition: .5s;
}
ul li span:nth-child(2){
  text-align: right;
}

