.container{
  .orderButton{
    margin: 5em 1em 1em;
    background: #FCE7A7;
    border-radius: 5em;
    font-weight: bold;
  }
  width: 100%;
  padding: 1em ;
  text-align: center;
  .billing{
  }
  .accordion-item{
    text-align: left;
  }
}
