h1 {
  text-align: center;
}

.carousel{
  margin: 0 50px;
}

.max-img-size{
  max-width: 100%;
  width: 800px;
  height: 800px;
  //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.home-slides{
  padding-bottom: 20px;
}

.whole{
  display: flex;
  padding: 30px 200px;
}

.max-width-medium{
  max-width: 500px;
}

@media only screen and (max-width: 1080px) {
  .change-big{
    padding: 250px;
  }
  .whole{
    padding: 80px 20px;
    flex-flow: row;
  }
  .max-width-medium{
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .change-big{
    padding: 50px;
  }

  .whole{
    padding: 80px 20px;
    flex-flow: column;
  }

  .max-width-medium{
    max-width: 150px;
  }
}

.color-change-5x {
  -webkit-animation: color-change-5x 6s linear infinite alternate both;
  animation: color-change-5x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-5x {
  0% {
    background: #ffcc00;
  }
  25% {
    background: #ffd633;
  }
  50% {
    background: #ffe066;
  }
  75% {
    background: #ffeb99;
  }
  100% {
    background: #fff5cc;
  }
}
@keyframes color-change-5x {
  0% {
    background: #ffcc00;
  }
  25% {
    background: #ffd633;
  }
  50% {
    background: #ffe066;
  }
  75% {
    background: #ffeb99;
  }
  100% {
    background: #fff5cc;
  }
}
