<div id="about" align="center">
  <h1>About</h1>
  <p>Mūsų bitynas įsikūręs Biržų rajone. Pradėjome bitininkauti dar tik prieš 6 metus, bet labai mylime savo biteles ir po truputį vis didiname savo bityną. Bites laikome ne tik dėl medaus, mums patinka stebėti jų gyvenimą, augimo procesą, sužinoti vis kažką naujo ir įdomaus. Buvimas prie bičių nuramina mintis ir atpalaiduoja nuo kasdienių rūpesčių.</p>
  <p>Mūsų bitutės gyvena netoli miško ir pievų, visą medunešio sezoną renkamas medus būna išsuktas iš įvairių augalų, kurie žydi visą vasarą, todėl medus skiriasi skoniu, kvapu ir konsistencija.</p>
  <p>Kaip papildoma veikla užsiimame ir įvairių kvapų bei spalvų rankų darbo muiliukų su medumi gaminimu.</p>

  <ngb-carousel *ngIf="images" class="home-slides">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]"  alt="Random third slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide">
      </div>
    </ng-template>
  </ngb-carousel>

</div>
