

<section class="contact whole" id="contact">
  <div class="container max-width">
    <div class="heading text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <h2>About us</h2>
    </div>
    <div class="main wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <div class="row">
        <!-- Left -->
        <div class="col-lg-4">
          <div class="right">
            <div class="info d-flex align-items-center">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span><p>Šis bitynas priklauso bitininkui Deividui Pašakarniui. Bitynas yra mažame Mieliūnų kaimelyje, Biržų rajone. 2015 metais idėja bitininkauti kilo Mantui Pašakarniui, o vėliau šį užsiėmimą perėmė jo brolis. Bitės buvo laikomos kaip hobis, kaip būdas pamedituoti, nusiraminti ir kaip nuosavo medaus šaltinis. Bet pamažu tai pavirto rimtesniu užsiėmimu. Bičių šeimų vis daugėja, o dėl to didėja ir medaus atsargos. Po truputį atsirado rimtesnė įranga bei priemonės ir hobis virto nedideliu verslu.</p></span>
            </div>
            <div class="info d-flex align-items-center">
              <i class="fa fa-chrome" aria-hidden="true"></i>
              <span><p>Daugelis bitininkų parduoda medų dideliais kiekiais išskyrus savo šeimą ir draugus, bet šis bitynas dar nėra toks didelis ir pardavinėja medų mažais kiekiais. Nedidelius bitynus turintys bitininkai turi du pasirinkimus: parduoti medų šeimos nariams ar pažįstamiems arba parduoti dideliu kiekiu tiekėjams. Mes siūlome modernų sprendimą – internetinį puslapį, kuriame parduodame medų ir kitus su bitėmis ir medumi susijusius produktus.</p></span>
            </div>
            <div class="info d-flex align-items-center">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span><p>Medaus paklausa ir pasiūla labai konkurencinga, bet maža konkurencija dėl natūralių bičių produktų ir gaminių. Ypatingai dabartinėje situacijoje kai daugelis žmonių užsidarę namuose ir mažiau lankosi  parduotuvėse bei rūpinasi savo sveikata, mes manome, kad mūsų siūlomi produktai Jums labai patiks.</p></span>
            </div>
          </div>
        </div>
        <div class="col-lg-8 left">
          <div class="carousel">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let imgUrl of imgArray">
                <div class="picsum-img-wrapper">
                  <img class="max-img-size" [src]="imgUrl" alt="Random slide">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--
<div class="whole">
  <div id="about" align="center">
    <div class="about-size-margin">

      <div>
        <h1>About us</h1>
        <p class="text-focus-in">Šis bitynas priklauso bitininkui Deividui Pašakarniui. Bitynas yra mažame Mieliūnų kaimelyje, Biržų rajone. 2015 metais idėja bitininkauti kilo Mantui Pašakarniui, o vėliau šį užsiėmimą perėmė jo brolis. Bitės buvo laikomos kaip hobis, kaip būdas pamedituoti, nusiraminti ir kaip nuosavo medaus šaltinis. Bet pamažu tai pavirto rimtesniu užsiėmimu. Bičių šeimų vis daugėja, o dėl to didėja ir medaus atsargos. Po truputį atsirado rimtesnė įranga bei priemonės ir hobis virto nedideliu verslu.
          Daugelis bitininkų parduoda medų dideliais kiekiais išskyrus savo šeimą ir draugus, bet šis bitynas dar nėra toks didelis ir pardavinėja medų mažais kiekiais. Nedidelius bitynus turintys bitininkai turi du pasirinkimus: parduoti medų šeimos nariams ar pažįstamiems arba parduoti dideliu kiekiu tiekėjams. Mes siūlome modernų sprendimą – internetinį puslapį, kuriame parduodame medų ir kitus su bitėmis ir medumi susijusius produktus. Medaus paklausa ir pasiūla labai konkurencinga, bet maža konkurencija dėl natūralių bičių produktų ir gaminių. Ypatingai dabartinėje situacijoje kai daugelis žmonių užsidarę namuose ir mažiau lankosi  parduotuvėse bei rūpinasi savo sveikata, mes manome, kad mūsų siūlomi produktai Jums labai patiks.</p>
      </div>

      <div class="carousel">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let imgUrl of imgArray">
            <div class="picsum-img-wrapper">
              <img class="max-img-size" [src]="imgUrl" alt="Random slide">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

    </div>
  </div>
</div>
-->
