
  <div class="box-wrapper" class="whole">

    <div class="container">
      <h1 >Submit Form</h1>
      <form target="_blank" action="https://formsubmit.co/b6f5a3ba3aa3f18733c893ba7550cfd2" method="POST">
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <input type="text" name="name" class="form-control" placeholder="Full Name" required>
            </div>
            <div class="col">
              <input type="email" name="email" class="form-control" placeholder="Email Address" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
      </form>
    </div>

    <div class="col contact-info ">
      <div id="contactUs">
        <ul>
          <li class="slide-in-right1"><img src="../../assets/phone-call.png" alt=""> +37063908107</li>
          <li class="slide-in-right2"><img src="../../assets/gmail.png" alt=""> pasbites@gmail.com</li>
          <li class="slide-in-right3"><a href="https://www.instagram.com/pasbites/"><img src="../../assets/facebook.png" alt=""></a> Facebook</li>
          <li class="slide-in-right4"><a href="https://www.facebook.com/pasbites/"><img src="../../assets/instagram.png" alt=""></a> Instagram</li>
        </ul>
      </div>
    </div>

  </div>


