li{
  display: flex;
}
img{
  margin: 0 20px;
}

.contact-info{
  margin: auto;

}

.form{
  margin: 50px;
  padding: 50px 50px 50px 50px;
}

.box-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.whole{
  display: flex;
  padding: 80px 200px;

}

#social img, #contactUs img {
  width: 40px;
}

#contactUs, #social, #quickLinks {
  margin: 5px 15px;
}

#social div {
  display: flex;
}

#social div img{
  line-height: 100px;
  padding: 10px 15px;
}

#social ul {
  display: flex;
}

#social ul li, #quickLinks ul li, #contactUs ul li{
  list-style-type: none;
  padding: 5px 10px;
}

.change-big{
padding: 500px;
}


/*Slide in animation*/

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-right1 {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

@-webkit-keyframes slide-in-right1 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right1 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right2 {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

@-webkit-keyframes slide-in-right2 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right2 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right3 {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@-webkit-keyframes slide-in-right3 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right3 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right4 {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

@-webkit-keyframes slide-in-right4 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right4 {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*END*/


@media only screen and (max-width: 1080px) {
  .change-big{
    padding: 250px;
  }
  .whole{
    padding: 80px 20px;
    flex-flow: row;
  }
}

@media only screen and (max-width: 600px) {
  .change-big{
    padding: 50px;
  }

  .whole{
    padding: 80px 0px;
    flex-flow: column;
  }
}


