
  <div class="box-wrapper" class="whole">

    <section class="contact" id="contact">
      <div class="container">
        <div class="heading text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <h2><span>Give us a </span>Buzz</h2>
        </div>
        <div class="main wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="row">
            <!-- Left -->
            <div class="col-lg-4">
              <div class="right">
                <h4>Every message is welcome!</h4>
                <div class="info d-flex align-items-center">
                  <span><p>If you have any questions about our products do not hesitate to contacts us</p></span>
                </div>
                <div class="info d-flex align-items-center">
                  <span><p>If you have any special requests for soaps we would be pleased to fulfill it</p></span>
                </div>
                <div class="info d-flex align-items-center">
                  <span><p>If you would like to be informed about fresh honey harvesting let us know</p></span>
                </div>
              </div>
            </div>
            <div class="col-lg-8 left">
              <h3>Contact form</h3>
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="name" class="form-control"  formControlName="name" placeholder="Full Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="email" name="email" class="form-control" formControlName="email" placeholder="Email Address" required>
                  </div>
                </div>
                <div class="form-group">
                  <textarea placeholder="Your Message" class="form-control" formControlName="message" name="message" rows="10" required></textarea>
                </div>
                <button class="btn btn-block btn btn-lg btn-dark btn-block" type="submit">Send Now!</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="col contact-info ">
      <div id="contactUs">
        <ul class="social">
          <li class="slide-in-right1"><img src="../../assets/socials/phoneIcon.png" alt=""> +37063908107
            <h3 class="copy" (click)="copyMessage('+37063908107')" value="click to copy" ><img src="../../assets/pictures/copy.png"></h3>
          </li>
          <li class="slide-in-right2"><img src="../../assets/socials/gmailIcon.png" alt=""> pasbites@gmail.com
            <h3 class="copy" (click)="copyMessage('pasbites@gmail.com')" value="click to copy" ><img src="../../assets/pictures/copy.png"></h3>
          </li>
          <li class="slide-in-right3"><a href="https://www.facebook.com/pasbites/" target="_blank"><img src="../../assets/socials/fbIcon.png" alt=""></a> Facebook
            <h3 class="copy" (click)="copyMessage('https://www.facebook.com/pasbites//')" value="click to copy" ><img src="../../assets/pictures/copy.png"></h3>
          </li>
          <li class="slide-in-right4"><a href="https://www.instagram.com/pasbites/" target="_blank"><img src="../../assets/socials/igIcon.png" alt=""></a> Instagram
            <h3 class="copy" (click)="copyMessage('https://www.instagram.com/pasbites/')" value="click to copy" ><img src="../../assets/pictures/copy.png"></h3>
          </li>
        </ul>
      </div>
    </div>

  </div>



