
table{
  width: 50%;
  border-collapse: collapse;
  margin:80px auto;
}
.cart-info{
  display:flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #111111;
  background: #F7D35B;
}
td{
  padding: 10px 5px;
}
td input{
  width: 70px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #F7D35B;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: 3px solid #F7D35B;
  width:100%;
  max-width:20em;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.checkout-btn{
  background-color: #F7D35B;
  color: #111111;
  font-weight: bold;
  border:none;
  border-radius:5em;
  display:inline-block;
  cursor: pointer;
}
.remove-link{
  cursor: pointer;
}

.margin{
  margin-top: 20px;
}
