<div class="row">
  <div class="col">
    <div *ngIf='!jwt' ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Login</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" id="dropdownBox">
        <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Incorrect Details!</strong>
          <button (click)='closeAlert()' type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-4 py-3">
          <div class='form-group'>
          <input type="email" email id = "email" placeholder="Email" formControlName="email" class="form-control" required>
            <div class ="alert alert-danger" *ngIf="email.touched && !email.valid">
              <div *ngIf='email.errors?.required'>Can't be empty!</div>
              <div *ngIf='email.errors?.email'>Email is required.</div>
            </div>
            </div>
          <div class='form-group'>
          <input type="password" placeholder="Password" formControlName="password" class="form-control" required>
            <div class ="alert alert-danger" *ngIf="password.touched && !password.valid">
              <div *ngIf='password.errors?.required'>Can't be empty!</div>
            </div>
          </div>
          <button class="btn btn-primary">Login</button>
        </form>
        <div class="dropdown-divider"></div>
        <button routerLink='auth/register' ngbDropdownItem>New around here? Sign up</button>
        <button ngbDropdownItem>Forgot password?</button>
      </div>
    </div>
  </div>
</div>


