
<div class="box-wrapper">
  <div id="whole">

    <div id="home" class="img-size-margin">
      <ul class="honeycomb">
        <li class="honeycomb-cell">
          <a routerLink="../home">
          <img class="honeycomb-cell_img" src="../../assets/pictures/home.png">
          <div class="honeycomb-cell_title">Home</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../products">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Honey_and_Soup.jpg">
          <div class="honeycomb-cell_title">Products</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../about">
          <img class="honeycomb-cell_img" src="../../assets/pictures/about.png">
          <div class="honeycomb-cell_title">About</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../contact">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Double_Soup_Pack.jpg">
          <div class="honeycomb-cell_title">Contact</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../products">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Stack_of_Honey.jpg">
          <div class="honeycomb-cell_title">Honey</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../products">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Bee_Bread.jpg">
          <div class="honeycomb-cell_title">Bee bread</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a routerLink="../products">
          <img class="honeycomb-cell_img" src="../../assets/pictures/soaps.jpg">
          <div class="honeycomb-cell_title">Soap</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a href="https://www.instagram.com/pasbites/" target="_blank">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Honeycomb.jpg">
          <div class="honeycomb-cell_title">Instagram</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a href="https://www.facebook.com/pasbites/" target="_blank">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Harvesting.jpg">
          <div class="honeycomb-cell_title">Facebook</div>
          </a>
        </li>
        <li class="honeycomb-cell">
          <a href="https://en.wikipedia.org/wiki/Honey_bee" target="_blank">
          <img class="honeycomb-cell_img" src="../../assets/pictures/Single_Bee.jpg">
          <div class="honeycomb-cell_title">Wiki</div>
          </a>
        </li>
        <li class="honeycomb-cell honeycomb_Hidden">
        </li>
      </ul>
    </div>
  </div>
</div>
