.box-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-about-buttons{
  padding-top: 10px;
}

.home-slides{
  padding-top: 20px;
}

#whole {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  //border: solid 1px green
}

#home {
  flex-grow: 2;
  //border: solid 1px orange
}

#about {
  flex-grow: 1;
  //border: solid 1px black
}

.about-text{
  text-align: justify;
}

.max-img-size{
  max-width: 100%;
}
.img-size-margin{
  margin: auto;
  width: 100%;
}

.about-size-margin{
  width: 70%;
  margin: auto;

}

p {
  padding: 0 50px;
}

h1 {
  padding: 0 280px;
}

.carrusel{
  margin: 0 50px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s linear both;
  animation: text-focus-in 1s linear both;
}

.intro-about-buttons{
  padding: 20px 50px 50px 300px;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
