.box-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-about-buttons{
  padding-top: 10px;
}

.home-slides{
  padding-top: 20px;
}

#whole {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  //border: solid 1px green
}

#home {
  flex-grow: 2;
  //border: solid 1px orange
}

#about {
  flex-grow: 1;
  //border: solid 1px black
}

.about-text{
  text-align: justify;
}

.max-img-size{
  max-width: 100%;
  width: 690px;
  height: 600px;
  //clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.img-size-margin{
  //padding: 30px;
  //margin: auto;
  width: 100%;
  margin-bottom: 10em;
}

.about-size-margin{
  width: 70%;
  margin: auto;

}

p {
  padding: 0 50px;
}

h1 {
  text-align: center;
}

.carousel{
  margin: 0 30px;
  text-align: center;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s linear both;
  animation: text-focus-in 1s linear both;
}

.intro-about-buttons{
  text-align: center;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1080px) {
  .whole{
    flex-flow: column;
  }
}

@media only screen and (max-width: 600px) {
  .whole{
    flex-flow: column;
  }
}

body
{
  font-family: 'Poppins', sans-serif;
  background: #111111;
}
.honeycomb
{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
}

.honeycomb-cell
{
  -webkit-box-flex: 0;
  flex: 0 1 250px;
  max-width: 300px;
  height: 150px;
  margin: 65.4px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
}
.honeycomb-cell_img
{
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}
.honeycomb-cell_title
{
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  transition: opacity 350ms;
}
.honeycomb-cell_title > small
{
  font-weight: 300;
  margin-top: 0.25em;
}
.honeycomb-cell::before,
.honeycomb-cell::after
{
  content: '';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img
{
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before
{
  background: #fff;
  transform: scale(1.055);
}
.honeycomb-cell::after
{
  background: #111111;
  opacity: 0.7;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}
.honeycomb-cell:hover
.honeycomb-cell_title
{
  opacity: 0;
}
.honeycomb-cell:hover
.honeycomb-cell_img
{
  filter: grayscale(0%);
}
.honeycomb-cell:hover::before
{
  background: #F7D35B;
}
.honeycomb-cell:hover::after
{
  opacity: 0;
}
.honeycomb_Hidden
{
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

/****** Responsive *******/

@media (max-width: 550px)
{
  .honeycomb-cell
  {
    margin: 81.25px 25px;
  }
}


@media (min-width: 550px) and (max-width: 825px)
{
  .honeycomb-cell:nth-child(3n)
  {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb_Hidden:nth-child(3n + 5)
  {
    display: block;
  }
}


@media (min-width: 825px) and (max-width: 1100px) {

  .honeycomb-cell:nth-child(5n + 4)
  {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5)
  {
    margin-right: calc(50% - 275px);
  }

  .honeycomb_Hidden:nth-child(5n),
  .honeycomb_Hidden:nth-child(5n + 3)
  {
    display: block;
  }
}
@media (min-width: 1100px)
{
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2)
  {
    margin-right: calc(50% - 400px);
  }

  .honeycomb_Hidden:nth-child(7n + 7),
  .honeycomb_Hidden:nth-child(7n + 9),
  .honeycomb_Hidden:nth-child(7n + 11)
  {
    display: block;
  }
}

.style{
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  //transition: opacity 350ms;
}
