<section>

</section>


<section class="contact whole" id="contact">
  <div class="container max-width">
    <div class="heading text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <h2>Administrator Panel</h2>
    </div>
    <div class="main wow fadeInUp center radius" style="visibility: visible; animation-name: fadeInUp;">


          <ul ngbNav #adminPanel="ngbNav" class="nav-tabs navRadius">
            <li ngbNavItem>
              <a ngbNavLink>Products</a>
              <ng-template ngbNavContent>
                <div>
          <div  class="newAdjust">
          <span routerLink="/admin/add">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Create new product
          </span>
          </div>
                  <table>
                    <tr>
                      <th>Product Name</th>
                      <th>Product Description</th>
                      <th>Product Price</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let product of products">
                      <td>{{ product.name }}</td>
                      <td>{{ product.description }}</td>
                      <td> {{ product.price }} &euro; </td>
                      <td>
                        <svg routerLink="/admin/edit/{{product.id}}"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                        <svg (click)="deleteProduct(product)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Orders</a>
              <ng-template ngbNavContent>
                <div>
                  <div class="adjust">
                  Active Orders
                  </div>
                  <table>
                    <tr>
                      <th>Order Id</th>
                      <th>Customer Id</th>
                      <th>Completion Status</th>
                      <th>Payment Status</th>
                    </tr>
                    <tr *ngFor="let order of orders">
                      <td>{{ order.id }}</td>
                      <td>{{ order.customerId }}</td>
                      <td>
                        <select (change)="changedCompletion($event, order)" >
                          <option value="false" [attr.selected]="!order.orderCompleted ? true : null"> Not Completed</option>
                          <option value="true" [attr.selected]="order.orderCompleted ? true : null"> Completed</option>
                        </select>
                      </td>
                      <td>
                        <select (change)="changedPaid($event, order)" >
                          <option value="false" [attr.selected]="!order.orderPaid ? true : null"> Not Paid</option>
                          <option value="true" [attr.selected]="order.orderPaid ? true : null"> Paid</option>
                        </select>
                      </td>
                      <td>
                        <svg (click)="deleteOrder(order)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="adminPanel"></div>



    </div>
  </div>
</section>
